<h4>新着オススメ動画</h4>
<div class="row">
	<div class="col-lg-6">
		<% for i in 0..4 do %>
			<div class="well-h100 well-sm">
				<div class="col-md-120px">
					<%= link_to image_tag(@new_arrivals[i].image_url, width: 108, height: 81), play_path(title: @new_arrivals[i].title) %>
				</div>
				<div style="height: 45px;">
					<%= link_to @new_arrivals[i].title, play_path(title: @new_arrivals[i].title), class: "text-danger" %>
				</div>
				時間: <%= @new_arrivals[i].duration %><br>
				オススメ度: <% @new_arrivals[i].recommend.times do %>★<% end %>
			</div>
		<% end %>
	</div>
	<div class="col-lg-6">
		<% for i in 5..9 do %>
			<div class="well-h100 well-sm">
				<div class="col-md-120px">
					<%= link_to image_tag(@new_arrivals[i].image_url, width: 108, height: 81), play_path(title: @new_arrivals[i].title) %>
				</div>
				<div style="height: 45px;">
					<%= link_to @new_arrivals[i].title, play_path(title: @new_arrivals[i].title), class: "text-danger" %>
				</div>
				時間: <%= @new_arrivals[i].duration %><br>
				オススメ度: <% @new_arrivals[i].recommend.times do %>★<% end %>
			</div>
		<% end %>
	</div>
</div>
