<h4>人気の動画</h4>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover" id="videostable">
				<thead>
					<tr>
						<th>#</th>
						<th>イクイクランキング</th>
						<th>時間</th>
						<th>総合ランキング</th>
						<th>時間</th>
					</tr>
				</thead>
				<tbody>
					<% for i in 0..49 do%>
						<tr>
							<td><%= i+1 %></td>
							<td>
								<div class="col-md-120px">
									<%= link_to image_tag(@week[i].image_url, width: 108, height: 81), play_path(title: @week[i].title) %>
								</div>
								<%= @week[i].adult ? (link_to @week[i].title, play_path(title: @week[i].title), class: "text-danger") : (link_to @week[i].title, play_path(title: @week[i].title)) %>
							</td>
							<td>
								<% if @week[i].duration %>
									<%= @week[i].duration %>
								<% else %>
									<%= "\s" %>
								<% end %>
							</td>
							<td>
								<div class="col-md-120px">
									<%= link_to image_tag(@month[i].image_url, width: 108, height: 81), play_path(title: @month[i].title) %>
								</div>
								<%= @month[i].adult ? (link_to @month[i].title, play_path(title: @month[i].title), class: "text-danger") : (link_to @month[i].title, play_path(title: @month[i].title)) %>
							</td>
							<td>
								<% if @month[i].duration %>
									<%= @month[i].duration %>
								<% else %>
									<%= "\s" %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		$('#videostable').dataTable({
			"bLengthChange": false,
			"bInfo": false,
			"bSort": false,
			"bFilter": false
		});
	});
</script>
